.producttype{
  
  margin-left:372px;
  margin-top: -29.5px;
  width:500px;
}
.prodropdown{
  position: relative;
  display: inline-block;
  cursor: pointer;

}.prodheaders{

  font-size: 1rem;

}.pt{
  border: 1px solid rgb(186, 180, 180);
  border-left:none ;
  padding: 10px 12px;
  width:300px;
}
.prod-contents{
  display: none;
  position: absolute;
  
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border: 1px solid #ccc;
}
.prodropdown:hover .prod-contents{
  display: block;
}.selected-products{
  position: relative;
  top:14px;
  right:740px;
  display: flex; 
  width:350px;
  padding: 7px 20px 7px;
  background-color: #f7f2f2;
  box-shadow: 0px 0px #e8e4e4;
}.selected-products ul{
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex;
}.selected-products ul li {
  /* Individual selected option */
  margin-right: 10px; /* Add spacing between options */
}
