.purchase-availability {
  
  margin: -28px;

  
}

.dropdownns {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-headers {

  font-size: 1rem;
  margin-top: -15px;
}
.p{
  display: flex;
  width: 155px;
  padding: 10px 6px 10px;
  margin-left: 3px;
  border: 1px solid rgb(169, 164, 164);
}

.dropdown-contents {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border: 1px solid #ccc;
}

.dropdownns:hover .dropdown-contents {
  display: block;
}

.selected-options {
  position: relative;
  top:4px;
  right:590px;
  display: flex; 
  width:350px;
  padding: 7px 20px 7px;
  background-color: #f7f2f2;
  box-shadow: 0px 0px #e8e4e4;
  /* Add horizontal scrollbar if options overflow the container */
}

.selected-options ul {
  /* Assuming this is the list containing the options */
  list-style: none; /* Remove default list bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Display list items horizontally */
}

.selected-options ul li {
  /* Individual selected option */
  margin-right: 10px; /* Add spacing between options */
}

/* Not sure what you intended with this block, so I'm leaving it here */


